@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Buy tokens</h2>
            <p>
            
            </p>
            <p><span class="btn btn-default">@Html.ActionLink("Buy", "Buy", "Manage")</span></p>
        </div>
        <div class="col-md-4">
            <h2>Create auction</h2>
            <p></p>
            <p><span class="btn btn-default">@Html.ActionLink("Create", "Create", "Auction")</span></p>
        </div>
    }
    else {
    <div class="col-md-4">
        <h2>Login or register</h2>
        <p>
            Login or register to participate in auctions.
        </p>
        <p><span class="btn btn-default">@Html.ActionLink("Register", "Register", "Account")</span>
        <span class="btn btn-default">@Html.ActionLink("Login", "Login", "Account")</span></p>
    </div> 
    }
    <div class="col-md-4">
        <h2>Browse auctions</h2>
        <p></p>
        <p><span class="btn btn-default">@Html.ActionLink("Auctions", "Browse", "Auction")</span></p>
    </div>
</div>