@model IEP_Auction.Models.Auction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Auction</h4>
    <hr />
    <div id="alert-placeholder"></div>
    <p>
        @if (User.IsInRole("Admin")) {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        }
        | @Html.ActionLink("Back to List", "Index") | 
        @if (Model.Status == "OPENED" && Model.TimeEnd > DateTime.Now) {
            @Html.ActionLink("Bid", "Bid", new { guid = Model.Id })
        }
    </p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bid.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bid.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            <img src=@Html.DisplayFor(model => model.ImagePath)>
        </dd>

    </dl>

    @section Scripts{
        <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
        <script src="~/SignalR/Hubs"></script>
        <script type="text/javascript">
        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        //execute on document ready
        $(function () {
            $.connection.hub.start()
    .done(function () { console.log('Now connected, connection ID=' + $.connection.hub.id); })
    .fail(function () { console.log('Could not Connect!'); });
            //function that the hub can call when it receives a notification.
            $.connection.notificationHub.client.displayNotification = function (update, alertType) {
                //Create the bootstrap alert html
                var jsonUpdate = JSON.parse(update);
                var alertHtml = '<div class="alert alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span>×</span></button><strong>' + htmlEncode(jsonUpdate.price) + '</strong> ' + htmlEncode(htmlEncode(jsonUpdate.user)) + '</div>';
                $(alertHtml)
                  .hide()                           //hide the newly created element (this is required for fadeIn to work)
                  .appendTo('#alert-placeholder')   //add it to the palceholder in the page
                  .fadeIn(500);                     //little flair to grab user attention
            };

            window.notifyApp = {
                hubConnector: $.connection.hub.start()  //start the connection and store object returned globally for access in child views
            };

        });
        </script>
    }
</div>