@model IEnumerable<IEP_Auction.Models.Auction>

@{
    ViewBag.Title = "Auctions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span id="timerLabel" runat="server"></span>
<link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

    function countdown() {
        var timeElements = document.getElementsByClassName("times");
        console.log(timeElements);
        for (var el of timeElements) {
            let timeLeft = Date.parse(el.attributes[2].nodeValue) - new Date()
            if (timeLeft < 0) continue;
            let seconds = timeLeft % 60000 / 1000;
            let secondsStr = parseInt(seconds).toString();
            if (seconds < 10)
                secondsStr = "0" + secondsStr;
            let element = document.getElementById(el.attributes[1].nodeValue).innerHTML =
                ((timeLeft/3600000<10)?"0":"") +parseInt(timeLeft / 3600000, 10).toString() + ":" + parseInt((timeLeft % 3600000) / 60000, 10).toString()
                + ":" + secondsStr;
        }
    }

    setInterval(countdown, 1000);

</script>

<h2>Auctions</h2>

<div id="alert-placeholder"></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm())
    {


    }
<p>Page @ViewBag.pageNumber out of @ViewBag.pageCount</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("page", ViewBag.pageNumber != null ? (int)ViewBag.pageNumber : 1, new { type = "number", value = ViewBag.pageNumber })
        <input type="submit" value="Go to page" />
    </p>
    <p>
        Find by name: @Html.TextBox("SearchString", (string)ViewBag.prevString)
    </p>
        <p>
            Auction state:
            <select name="auctionState">
                <option value="" @{if (ViewBag.selectedState == "") { <text> selected="selected" </text>   }}>Any</option>
                <option value="READY" @{if (ViewBag.selectedState == "READY") { <text> selected="selected" </text>   }}>Ready</option>
                <option value="OPENED" @{if (ViewBag.selectedState == "OPENED") { <text> selected="selected" </text>   }}>Opened</option>
                <option value="CLOSED" @{if (ViewBag.selectedState == "CLOSED") { <text> selected="selected" </text>   }}>Closed</option>
            </select>
        </p>
        <p>
            Min price: @Html.TextBox("minPrice", ViewBag.prevMin != null ? (int)ViewBag.prevMin : 0, new { type = "number", placeholder = 0 })
            Max price: @Html.TextBox("maxPrice", ViewBag.prevMax != null ? (int)ViewBag.prevMax : 0, new { type = "number", placeholder = 0 })
        </p>
        <input type="submit" value="Search" style="margin-bottom: 10px" />
    }
@if(Model.Count() == 0)
{
    <h4>No auctions could be found.</h4>
}
<div style="display:grid; grid-template-columns: 1fr 1fr 1fr;">
    @foreach (var item in Model)
    {
        <div class="auctionItem">
            <div class="auctionTitle">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="auctionDesc">
                <img src=@Html.DisplayFor(modelItem => item.ImagePath) height="140">
                <p>@Html.DisplayFor(modelItem => item.Status)</p>
                <p class="times" id=@(item.Id.ToString().ToLower()) 
                   timeLeft=@(item.TimeEnd.HasValue? item.TimeEnd.Value.ToString("yyyy-MM-dd'T'HH:mm:ss zzz") : "0:0:0")>
                @if (item.TimeEnd > DateTime.Now)
                {
                    @((item.TimeEnd - DateTime.Now).ToString().Split('.')[0])
                }
                else
                {
                    <text>00:00:00</text>
                }
                </p>
                <p id=@("amount"+item.Id.ToString().ToLower())>
                    @((ViewBag.currencyValue * item.Bid.Amount).ToString()) @ViewBag.currencySymbol
                </p>
                <p>
                    Last bidder:
                    <span id=@("bidder"+item.Id.ToString().ToLower())>
                        @if (item.Bid.UserId != item.CreatorId)
                        {
                            Html.DisplayFor(modelItem => item.Bid.AspNetUser.Email);
                        }
                        else
                        {
                            <text>None</text>
                        }
                    </span>
                </p>
            </div>
            <div class="auctionControl">
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (item.Status == "OPENED" && item.TimeEnd > DateTime.Now)
                {
                    <text>|</text> @Html.ActionLink("Bid", "Bid", new { guid = item.Id })
                }
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin") || ViewBag.UserId == (item.CreatorId))
                    {
                        <text>|</text> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                        @*<text>|</text> Html.ActionLink("Delete", "Delete", new { id = item.Id });*@
    }
                }
            </div>

        </div>

    }
    <span id="currencyValue" data="@(ViewBag.currencyValue)" type="hidden"></span>
    <span id="currencySymbol" data="@(ViewBag.currencySymbol)" type="hidden"></span>

</div>

    @section Scripts{
        <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
        <script src="~/SignalR/Hubs"></script>
        <script type="text/javascript">
            function htmlEncode(value) {
                return $('<div />').text(value).html();
            }

            //execute on document ready
            $(function () {
                //function that the hub can call when it receives a notification.
                $.connection.notificationHub.client.displayNotification = function (update, alertType) {
                    //Create the bootstrap alert html
                    var jsonUpdate = JSON.parse(update);
                    var amountEl = document.getElementById("amount" + jsonUpdate.auction);
                    var bidderEl = document.getElementById("bidder" + jsonUpdate.auction);
                    amountEl.innerHTML = (Math.round(document.getElementById("currencyValue").getAttribute("data") * jsonUpdate.price * 100)/100).toString() + " " + document.getElementById("currencySymbol").getAttribute("data");
                    bidderEl.innerHTML = jsonUpdate.user;
                };

                window.notifyApp = {
                    hubConnector: $.connection.hub.start()  //start the connection and store object returned globally for access in child views
                };

            });
        </script>
    }

</table>
