@model IEnumerable<IEP_Auction.Models.Auction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span id="timerLabel" runat="server"></span>

<script type="text/javascript">

    function countdown()
    {
        seconds = document.getElementById("timerLabel").innerHTML;
        if (seconds > 0)
        {
            document.getElementById("timerLabel").innerHTML = seconds - 1;
            setTimeout("countdown()", 1000);
        }
    }

    setTimeout("countdown()", 1000);

</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Image
            @*@Html.DisplayNameFor(model => model.ImagePath)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bid.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Time left
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            Start time
            @*@Html.DisplayNameFor(model => model.TimeStart)*@
        </th>
        <th>
            End Time
            @*@Html.DisplayNameFor(model => model.TimeEnd)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.ImagePath) height="140">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bid.Amount)
            </td>
            <td>
                @if (item.TimeEnd == null & item.TimeEnd <= DateTime.Now)
                {
                    <span>CLOSED</span>
        }
                else
                {
                    @Html.DisplayFor(modelItem => item.Status)

                }
            </td>
            <td>
                @if (item.TimeEnd > DateTime.Now) {
                    @(item.TimeEnd - DateTime.Now)
                }
                else
                {
                    @(new TimeSpan(0))
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEnd)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (Request.IsAuthenticated)

                {
                    if (User.IsInRole("Admin") || ViewBag.UserId == (item.CreatorId))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id });<br />
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id });
                    }
                }

            </td>
        </tr>
    }

</table>
