@model IEP_Auction.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Account settings</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
        <dt>Name:</dt>
        <dd>@Model.FirstName @Model.LastName</dd>
        <dd>@Html.ActionLink("Change your email or name", "ChangeUserInfo")</dd>
        <dd>@Html.ActionLink("Change your password", "ChangePassword")</dd>
        <dd>@Html.ActionLink("View token orders", "Index", "TokenOrders")</dd>
        <dd>@Html.ActionLink("View my auctions", "ViewAuctions")</dd>


        
    </dl>
</div>
