@model IEnumerable<IEP_Auction.Models.TokenOrder>

@{
    ViewBag.Title = "Token orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Token orders</h2>

<p>
    @Html.ActionLink("< Back to account settings", "Index", "Manage")
</p>
<p>
    @Html.ActionLink("Buy Tokens", "Create")
</p>
@if (ViewBag.ErrMsg != null)
{
    <span color="red">@ViewBag.ErrMsg</span>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
    </tr>
}

</table>
